html {
  scroll-behavior: smooth;
}

body {
  padding: 10px;
  margin: 0px;
  height: 100vh;
  border: 5px inset #0082ff;
  overflow: scroll;
}

.read {
  display: block;
  float: left;
  height: auto;
  text-align: justify;
  margin: 0px;
}

.learn {
  display: block;
  height: auto;
  text-align: justify;
  margin: 0px;
}

h1 {
  color: #0082ff;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.read,
.learn, {
  border: 2px inset #0082ff;
  width: 50%
  padding: 5px;
}

.read h1,
.learn h1, {
  font-size: 39px;
  font-weight: bold;
  color: #0082ff;
  text-align: center;
}
